body{
    background-color: wheat;
}
#main-content{
    min-height: 38.5vw;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
}
a:link, a:visited{
    text-decoration: none;
}
*{
    margin:0;
    padding:0;
    font-size: 1vw;
}
h2{
    font-size: 1.5vw;
    color: #ec8405;
    display: -webkit-box;
    -moz-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
h3{
    font-size: 1vw;
    color: #ec8405;
    display: -webkit-box;
    -moz-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
/*Errors*/
#logoAccessDenied{
    height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#errorMessage{
    text-align: center;
    padding-bottom: 5%;
    font: 1.2em "Fira Sans", sans-serif;
}
/*template*/
#banniere{
    background-color: #121212;
    color:white;
    font-size: 0.8vw;
    line-height:2vw;
    vertical-align: middle;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3vw;
    z-index: 1;
}
#banniere > *{
    display: inline-block;
    margin-top:0.5vw;
    margin-bottom:0.5vw;
}
#logo-banniere{
    float:left;
    margin-left: 5vw;
    margin-right: 1.5vw;
}
#img-banniere{
    height:2vw;
}
#search{
    width: 30vw;
    line-height: 2em;
}
#search input{
    border-radius: 0.2vw;
    border: #121212 solid 0.1vw;
    padding-left: 0.5vw;
}
#rightPart{
    float:right;
    margin-right: 2.5vw;
}
#rightPart > *{
    display: inline-block;
}
#rightPart span {
    margin-right: 4px;
    margin-left: 4px;
}
#banniere a:link, #banniere a:visited, #footer a:link, #footer a:visited{
    text-decoration: none;
    color: white;
}
#banniere a:hover, #footer a:hover{
    color: #ec8405;
}
#cart:hover{
    color: #ec8405;
}
#banniere + * {
    margin-top: 4vw;
}
#footer{
    background-color:  #121212;
    vertical-align: middle;
    bottom: 0;
    left: 0;
    padding-left: 5vw;
    padding-top: 3vw;
    padding-bottom: 1vw;
}
.language-flag{
    height:1.5vw;
    margin-left: 0.1vw;
    margin-right: 0.1vw;
}
.nothingAtTheMoment{
    text-align: center;
}

/*product*/
#product_view{
    margin-top: 8%;
    margin-bottom: 10%;
    margin-left: 10%;
}
#leftCol, #rightCol{
    margin-top: 2%;
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin-left: 10%;
}
#product_view .product_image{
    background-color: rgba(174,170,176,0.54);
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}
#product_name{
    font-size: 1.5vw;
    font-weight: bold;
    color: #ec8405;
}
#rightCol > div{
    margin-top: 1%;
}
/*all*/
.alert{
    color: red;
}

#quantity{
    vertical-align: top;
}
.path > a:link, .path > a:visited{
    text-decoration: none;
    color: black;
}
.path > a:hover{
    color: #ec8405;
}
#category_title{
    width: 94vw;
    background-color: #fff9ed;
    font-size: calc(3vw + 3vh);
    color: #ec8405;
    text-align: center;
    margin: 2vw;
}
.preview_link{
    text-decoration: none;
}
.preview{
    display: inline-block;
    width: 20vw;
    padding: 1vw;
    margin: 1vw;
    background-color: #fff9ed;
}
.preview:hover{
    border: solid 0.1vw #ec8405;
    margin: 0.92vw;
}
.preview_image_container{
    padding: 0.5vw;
}
.preview_image{
    width: 19vw;
}
.preview .out_of_stock{
    text-align: right;
    color: red;
}


.authentication{
    background-color: #fff9ed;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5%;
    margin-top: 7vw;
    margin-bottom: 4vw;

}

.authentication > form > button{
    background-color: #121212;
    color:white;
    border-radius: 5%;
    padding: 1%;
    width: 25%;
    border: none;
}
.authentication > form > button:hover{
    background-color: #ec8405;
    cursor: pointer;
}



.inputContainer > input {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 0.15vw solid #121212;
    outline: 0;
    font-size: 1.3rem;
    color: #121212;
    padding: 0.5vw 0;
    background: transparent;
    transition: border-color 0.2s;
}

.inputContainer > input::placeholder {
     color: transparent;
 }

.inputContainer > input:placeholder-shown ~ .label {
     font-size: 1vw;
     cursor: text;
     top: 2vw;
 }
.inputContainer {
    position: relative;
    padding: 1vw 0 0;
}
.label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1vw;
    color: #121212;
}

.inputContainer > input:focus + .label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #ec8405;
    font-weight:700;
}
.inputContainer > input:focus {

    padding-bottom: 1vw;
    font-weight: 700;
    border-bottom: 0.15vw solid #ec8405;
}
.errors{
    display: block;
    color: red;
    text-align: right;
}


.order{
    background-color: #fff9ed;
    border-radius: 1vw;
    margin: 2vw 4vw;
    padding: 2vw;
    text-align: center;
}

.order table{
    margin: 1vw auto;
    text-align: center;
}
.order table td{
    padding-right: 2vw;
    padding-left: 2vw;
}